<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到优选农产品!</div>
			<div class="fr">
				<div class="login_btn fl">
                    {% if request.session.user_name %}
                         欢迎您：<em>{{ request.session.user_name }}</em>
                        <span>|</span>
                        <a href="{% url 'user:logout' %}">退出</a>
                    {% else %}
					<a href="{% url 'user:login' %}?next=/goods/index">登录</a>
                    {% endif %}
					<span>|</span>
					<a href="{% url 'user:register' %}">注册</a>
				</div>

				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:user_info' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'user:carts' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'user:user_order' %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>
<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/user/images/logo.png"></a>
        <form action="{% url 'goods:search' %}" method="get">
            <div class="search_con fl">
                <input type="text" class="input_text fl" name="name" placeholder="搜索商品" value="{{ name }}">
                <input type="submit" class="input_btn fr" value="搜索">
            </div>
        </form>
		{% block car %}
		<div class="guest_cart fr">
			<a href="{% url 'user:carts' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
		{% endblock %}
    <script>
        $.ajax({
            url:"{% url 'user:select_carts_count' %}",
            type:"get",
            dataType:"json",
            success:function (data) {
                console.log($(".goods_count").text(data.count));
                console.log(data.count,111111111)
            }
        })
    </script>
	</div>